<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">

    <h1>Edit Wiki</h1>

    <form action="/wikis/<%= wiki.id %>/update" method="post">
      <% if((currentUser.id  === wiki.userId && currentUser.role == 2) || currentUser.role == 1){ %>
      <div class="form-group">
        <label>Private</label>
        <div>
          <input type="radio" id="true" name="private" value="true" <% if(wiki.private === true){ %> checked <% } %>>
          <label for="true">True</label>
          <input type="radio" id="false" name="private" value="false" <% if(wiki.private === false){ %> checked <% } %>>
          <label for="false">False</label>
        </div>
      </div>
      <% } %>
      <div class="form-group">
        <label for="title">Wiki title</label>
        <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp"
          placeholder="Enter Title">
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>