<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <h1><%= wiki.title %></h1>
    <h4>Add collaborators</h4>
    <form action="/wikis/<%= wiki.id %>/share" method="post">
      <button type="submit" class="btn btn-primary">Share Wiki</button>
      <p></p>
      <table style="width:50%">
        <tr>
          <th>Email</th>
          <th>Share</th>
        </tr>
        <% users.forEach((user) => { %>
        <tr>
          <td><%= user.email %> </td>
          <td><input type="checkbox" name="<%= user.id%>" value="true" <% if(wikiCollaborators.includes(user.id)){ %>
              checked <% } %>></td>
        </tr>
        <% }) %>
      </table>
      <p></p>
      <button type="submit" class="btn btn-primary">Share Wiki</button>
    </form>
  </main>
</body>

</html>