<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

        <p>
            Thank you for upgrading. Go forth and create!
        </p>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>